.blank {
    background-color: #242424;
    background-position: center;
    display: inline;
    width: 600px;
    height: 600px;
    justify-content: center;
}

.contact-wrapper {
    text-align: center;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.one-line {
    width: 530px;
    height: 30px;
    font-size: 18px;
}

.multi-line {
    margin-top: 25px;
    text-align: left;
    width: 530px;
    height: 325px;
    font-size: 26px;
}