.blank {
    background-color: #242424;
    background-position: center;
    display: inline;
    width: 600px;
    height: 650px;
    justify-content: center;
}

.contact-wrapper {
    text-align: center;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 5px;
}

.contact-button-wrapper {
    display: flex;
    justify-content: right;
}

.contact-button-item {
    width: 200px;
    margin-right: 40px;
}

.one-line {
    width: 530px;
    height: 30px;
    font-size: 18px;
    resize: none;
}

.multi-line {
    margin-top: 20px;
    text-align: left;
    width: 530px;
    height: 325px;
    font-size: 26px;
    resize: none;
}

.message-wrapper {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}

.contact-menu {
    background-color: rgb(5, 53, 225);
    background-position: center;
    display: inline;
    width: 600px;
    height: 195px;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}
